@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-800;
}

/* optional light styling */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-gray-900 text-white hover:border-indigo-500 transition;
}
